SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=*.railway.app,localhost,127.0.0.1
MONGO_URI=mongodb+srv://usuario:password@cluster0.gzsjnl8.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
CSRF_TRUSTED_ORIGINS=https://cafeteria-production-c6ba.up.railway.app
